<form method="POST" action="/recipes/<%= @recipe.id %>" >
  <h1>Edit your recipe: </h1>
  <input type="hidden" id="hidden" name="_method" value="patch"><br>
  <p>
    <label for="name">Recipe Name: </label>
    <input type="text" name="name" id="name" value="<%= @recipe.name %>">
  </p>

  <p>
    <label for="content">Recipe Ingredients: </label>
    <textarea name="content" id="content"><%= @post.content %></textarea>
  </p>
  <button type="submit" id="submit" value="update">Update</button>
</form>
