<h1>Your Recipe</h1>
<div class="recipe">
  <h3>Recipe Name: <%= @recipe.name %></h3>
  <p>Recipe ingredients: <%= @recipe.ingredients %></p>
  <p>Recipe Cook Time: <%= @recipe.cook_time %></p>
</div>
